
etl/gcp_credentials.json
*.json
!package.json

data/raw/raw_data.csv
data/processed/cleaned_data.parquet
*.csv
*.parquet
*.xlsx
!ml/feature_importance.csv
!dashboard/AMEX_Dashboard.xlsx

src/submissions/
src/models/submission11_script.py
src/models/submission12_script.py 
src/models/submission13_script.py 
src/models/submission14_script.py 
src/models/submission15_script.py 
src/models/submission16_script.py 

__pycache__/
*.pyc
*.pyo
.venv/
venv/
amex_env/
*.egg-info/
dist/
build/
.eggs/

.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db

.vscode/settings.json
.idea/
